#fundo{
    position: relative;
    width: 80%;
    height: 600px;
    background-color: #ccc;
    margin: auto;
}

#camada1{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    border: 5px solid green;
    text-align: center;
    float: left;
}

#camada2{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(75, 44, 158);
    border: 5px solid rgb(177, 37, 182);
    text-align: center;
    float: left;
}

#camada3{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(95, 189, 40);
    border: 5px solid rgb(156, 185, 27);
    text-align: center;
    float: left;
    clear: left;
}