*{
    margin: 0;
    border: 0;
    padding: 0;
    
}

body{
    position: relative;
    color: #FFF;
    font-family: Verdana;
    text-align: center;

}

main{
    width: 90%;
    height: auto;
    margin: auto;

}

#titulo_pagina{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#menu_superior{
    width: 100%;
    height: 30px;
    background-color: #009;
    
}

#menu_lateral{
    width: 25%;
    height: 480px;
    float: left;
    background-color: rgb(167, 236, 99);
}

#meio{
    width: 50%;
    height: 480px;
    background-color: rgb(238, 185, 225);
    float: left;
}

aside{
    width: 25%;
    height: 480px;
    background-color: rgb(244, 56, 197);
    float: left;
}

footer{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clear: left;
}